@charset "UTF-8";

:root {
  --main-color: darkseagreen;
}
/*--------------------------------
  全体
---------------------------------*/
body {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: #111;
  font-feature-settings: "palt";
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 96%;
  min-width: 375px;
  max-width: 1440px;
}
.tag {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--main-color);
}
/*--------------------------------
MainView
---------------------------------*/
.mv {
  position: relative;
}
.mv_title {
  font-size: 2rem;
}
.n-letter {
  color: var(--main-color);
}
.onephrase {
  filter: drop-shadow(5px 3px 5px var(--main-color));
}
/*--------------------------------
Procucts
---------------------------------*/
.portfolio {
  padding: 20px 0 40px;
}
.portfolio__products {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
}
.portfolio__itembox {
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
  max-height: 400px;
  outline: solid 3px var(--main-color);
}
.portfolio__itembox-explain {
  display:flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
}
.portfolio__itembox-title {
  font-size: 1.2rem;
  color: #111;
  margin: 0 0 10px 0;
  opacity: 0.5;
}
.portfolio__itembox-content {
  width: 100%;
  overflow: auto;
}
.portfolio__itembox-tag {
  background-color: blue;
  margin-top: auto;
  margin-left: auto;
}
.tag-blue { background-color: blue;}
.tag-blueviolet { background-color: blueviolet;}
.portfolio__itembox figure {
  width: 250px;
  height: 250px;
  flex-grow: 2;
  overflow: hidden;
  filter: drop-shadow(-1px 1px 5px var(--main-color));
}
.portfolio__itembox img {
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
}

/* media Queries 375px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 375px) {
  /* .mv {
    background-color: red;
  } */
}
/* media Queries 835px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 835px) {
  .container {
    flex-direction: row;
  }
  .mv {
    margin-right: 10px;
    padding-top: 20%;
  }
  .portfolio__products {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio__itembox {
    flex-direction: column-reverse;
    padding: 30px 30px 0;
  }
  .portfolio__itembox-explain {
    margin: 20px 0 0;
  }
  .portfolio__itembox-content {
    min-height: 70px;
    max-height: 70px;
    margin-bottom: 10px;
  }
}

/* media Queries 1025px以上
----------------------------------------------------*/
@media screen and (min-width: 1025px) {
  /* .mv {
    background-color: aqua;
  } */
}

/* media Queries 1440px以上
----------------------------------------------------*/
@media screen and (min-width: 1440px) {
  .mv {
    background-color: gold;
  }
}